
[submodule "book/gis/portfolio"]
	path = book/gis/portfolio
	url = git@github.com:carlosrodlop/my-gis-portfolio.git
	branch = master
[submodule "book/gis/usle"]
	path = book/gis/usle
	url = git@github.com:carlosrodlop/my-GIS4USLE-GuadalfeoBasin.git
	branch = master
